@import './base.css';


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: block; /* Changez flex en block */
    /* Retirez place-items: center; si ce n'est pas nécessaire */
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    width: 100%; /* Ajout de cette ligne */
    
  }
}
